<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>
<body id="back-ground">
    <nav id="green-row">

    </nav>
    <div id="app">
        <aside class="contact-list col-xl-3 col-md-5 col-xs-6">
            <div class="nav-contact-list ">
                <div class="d-flex align-items-center">
                    <img src="./img/avatar_io.jpg" alt="">
                    <h4>Gabriele Sanna</h4>    
                </div>
                <ul id="icon-userName">
                    <li><i class="fas fa-circle-notch"></i></i></li>
                    <li><i class="fas fa-comment-alt"></i></i></li>
                    <li><i class="fas fa-ellipsis-v"></i></li>
                </ul>
            </div>
            <div class="nav-notifica ">
                
                <i class="far fa-bell-slash circle"></i>
                <span>
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="">Attiva notifiche Desktop</a>
                </span>
            </div>
            <div class="search ">
                <i class="fas fa-search"></i>
                <input type="search" placeholder="Inizia una nuova chat">
            </div>
            <ul class="scroll">
                <li v-for="(contatto, index) in contacts" @click="moveTo(index)" class=" manina-puntatore">
                    <img :src="contatto.user" alt="">
                    {{contatto.name}}
                </li>
            </ul>
        </aside>
        <section class="message-chat col-xs-6 col-md-5 col-xl-4">
           <div class="nav-user">
                <img :src="contacts[indexContacts].user" alt="">
                <div class="d-flex column">
                    <div>{{contacts[indexContacts].name}}</div>
                    <div>Ultimo accesso {{contacts[indexContacts].messages[indexMessage].date}}</div>
                </div>
            </div>
            <div class="text-area">
                <div :class="contactMessage(index)" v-for="(message,index) in contacts[indexContacts].messages">
                    <i class="fas fa-chevron-down tenda">
                        <div>
                            <a href="">Message info</a> <br>
                            <a href="">Delete Message</a> <br>
                        </div>
                    </i>
                    <div>{{message.text}}</div>
                    <div class="date"> {{message.date}} {{message.status}}</div>
                </div>
            </div>
            <div class="nav-typing">
                <i class="far fa-smile"></i>
                <div>
                    <input type="text" v-model="newTask" @keyup.enter="sendMessage">
                </div>
                <i class="fas fa-microphone"></i>
            </div>
        </section>

    </div>
    <script src="./script.js"></script>
</body>
</html>